<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Meedo: chat</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/chat.css">
</head>
<body>
    <div class="main-content">
        <span class="menu-toggle" onclick="toggleSidebar()">☰</span>
        <div class="chat-box" id="chat-box">
            
            <!-- Chat messages will appear here -->
        </div>
        <div class="input-box">
            <textarea id="user-input" placeholder="질문을 입력하세요..."></textarea>
            <button class="gpt-button" type='submit' onclick="sendMessage()">↑</button>
        </div>
    </div>
    <div class="sidebar-right" id="sidebar-right">
        <button class="exit-button" onclick="window.close()">나가기</button>        
        <button class="explanation-button" id="explanation-button">작품 리스트로 이동하기</button>
        <!-- Right Sidebar Content -->
    </div>

    <script>
        document.getElementById("explanation-button").onclick = function () {
            location.href = "/select_explanation";
        };

        function toggleSidebar() {
            const sidebarRight = document.getElementById('sidebar-right');
            sidebarRight.style.transform = sidebarRight.style.transform === 'translateX(0%)' ? 'translateX(100%)' : 'translateX(0%)';
        }

        async function sendMessage() {
            const userInput = document.getElementById('user-input').value;
            if (userInput.trim() === "") return;
            console.log(userInput);
            const chatBox = document.getElementById('chat-box');
            const userMessage = document.createElement('div');
            userMessage.classList.add('message', 'user-message');
            userMessage.innerHTML = `<p>${userInput}</p>`;
            chatBox.appendChild(userMessage);
            
            const response = await fetch('/ask', {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ prompt: userInput }),
            });
            const data = await response.json();

            const botMessage = document.createElement('div');
            botMessage.classList.add('message', 'bot-message');
            botMessage.innerHTML = `<p>"${data.response}"</p>`;
            chatBox.appendChild(botMessage);
    
            document.getElementById('user-input').value = "";
            chatBox.scrollTop = chatBox.scrollHeight;
        }
    
        document.getElementById('user-input').addEventListener('keydown', function(event) {
            if (event.key === "Enter") {
                event.preventDefault(); // Prevent the default action on enter press
                sendMessage();
            }
        });
    </script>
</body>
</html>