<!DOCTYPE html>
<html lang="en" style="color-scheme: light;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Meedo: select</title>
    <link rel="stylesheet" href="/stylesheets/explanation.css" type="text/css" />
    <script src="/javascripts/select_sort.js"></script>
</head>
<body>
    <div class="header">
        <img src="/images/index/meedo.png" alt="미도 로고">
        <hr>
    </div>

    <div class="container">
        <aside class="sidebar">
            <ul class="category-list">
                <li class="menu-item"><a href="#">All</a></li>
                <li class="menu-item"><a href="#">선사/고대관</a></li>
                <li class="menu-item"><a href="#">중/근세관</a></li>
                <li class="menu-item"><a href="#">서화관</a></li>
                <li class="menu-item"><a href="#">기증관</a></li>
                <li class="menu-item"><a href="#">사유의 방</a></li>
                <li class="menu-item"><a href="#">조각/공예관</a></li>
                <li class="menu-item"><a href="#">세계문화관</a></li>
                <li class="menu-item"><a href="#">역사의 길</a></li>
                <li class="menu-item"><a href="#">야외 전시</a></li>
            </ul>
        </aside>
        <main class="main-content">
            <input type="text" id="search-input" placeholder="작품제목을 입력해주세요...">
            <div class="logo-grid" id="logo-grid">
                <!-- Example logo items -->
                <div class="logo-item" data-category="선사/고대관">
                    <a href="/select_explanation">
                        <img src="https://postfiles.pstatic.net/MjAyNDA1MjRfMTg0/MDAxNzE2NTI4OTc1MjA0.2vf7Vaw1glVWwYyUkYkAO4B81AomIWOrITEPo5_T23Yg.T0ZvTzQi7CCXVYU1wmolVQ6qySFKkBEas4ixBhlUYhYg.PNG/IMG_9814.PNG?type=w773" alt="씨름">
                        <p>씨름</p>
                    </a>
                    
                </div>
                <div class="logo-item" data-category="선사/고대관">
                    <a href="/select_explanation">
                        <img src="https://postfiles.pstatic.net/MjAyNDA1MjRfMTg0/MDAxNzE2NTI4OTc0NTA1.Yd0And2SqLylv3LEK7-1P9s4ruKktmTO4wC-wgZqVlog.qm6ifirCeSvsKI7i-SwyejNB9cEvBHtq94Xe3UesdM0g.PNG/IMG_9821.PNG?type=w773" alt="고종 어진">
                        <p>백자 달항아리</p>
                    </a>
                    
                </div>
                <div class="logo-item" data-category="중/근세관">
                    <a href="/select_explanation">
                        <img src="https://postfiles.pstatic.net/MjAyNDA1MjRfMTg0/MDAxNzE2NTI4OTc1MjA0.2vf7Vaw1glVWwYyUkYkAO4B81AomIWOrITEPo5_T23Yg.T0ZvTzQi7CCXVYU1wmolVQ6qySFKkBEas4ixBhlUYhYg.PNG/IMG_9814.PNG?type=w773" alt="씨름">
                        <p>씨름</p>
                    </a>
                    
                </div>
                <div class="logo-item" data-category="중/근세관">
                    <a href="/select_explanation">
                        <img src="https://postfiles.pstatic.net/MjAyNDA1MjRfMTg0/MDAxNzE2NTI4OTc0NTA1.Yd0And2SqLylv3LEK7-1P9s4ruKktmTO4wC-wgZqVlog.qm6ifirCeSvsKI7i-SwyejNB9cEvBHtq94Xe3UesdM0g.PNG/IMG_9821.PNG?type=w773" alt="백자 달항아리">
                        <p>백자 달항아리</p>
                    </a>
                    
                </div>
                <div class="logo-item" data-category="중/근세관">
                    <a href="/select_explanation">
                        <img src="https://postfiles.pstatic.net/MjAyNDA1MjRfMjk1/MDAxNzE2NTI4OTc0Nzc1.EEY5pdVLD_FbFtKdqegiAe9r6-KZYr_ANXq1Mx9_wYEg.sQpse5U-BhnQNo7Y4sUMtipsjHqLZ3g5F9U0X9dfE8og.PNG/IMG_9820.PNG?type=w773" alt="고종 어진">
                        <p>고종 어진</p>
                    </a>
                    
                </div>
                <div class="logo-item" data-category="중/근세관">
                    <a href="/select_explanation">
                        <img src="https://postfiles.pstatic.net/MjAyNDA1MjRfODIg/MDAxNzE2NTI4OTc1MjU3.1U91zIPeJ84b5mpNNvDRHsmQLfA1QgX9FZ2-AGMLJUwg.cE38PJs-aQJ48jMXMma5MA4NARozNHBa4QInru74gm4g.PNG/IMG_9825.PNG?type=w773" alt="홍길동전">
                        <p>홍길동전</p>
                    </a>
                    
                </div>
                <div class="logo-item" data-category="중/근세관">
                    <a href="/select_explanation">
                        <img src="https://postfiles.pstatic.net/MjAyNDA1MjRfMjYg/MDAxNzE2NTI4OTc0Njkw.B0wT8GhQhpmsUj-C1-q0ZzZjLssglkznDIvULv4apFAg.rVXmonX283Dgiy1C1AblXS8XiOCANjkKIvFtJkBXHdkg.PNG/IMG_9826.PNG?type=w773" alt="목민심서">
                        <p>목민심서</p>
                    </a>
                    
                </div>
            </div>
        </main>
    </div>
</body>
</html>
