<!DOCTYPE html>
<html lang="en" style="color-scheme: light;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Meedo: select</title>
    <link rel="stylesheet" href="/stylesheets/explanation.css" type="text/css" />
    <script src="/javascripts/select_sort.js"></script>
</head>
<body>
    <div class="header">
        <img src="/images/index/meedo.png" alt="미도 로고">
        <hr>
    </div>

    <div class="container">
        <aside class="sidebar">
            <ul class="category-list">
                <li class="menu-item"><a href="#">All</a></li>
                <li class="menu-item"><a href="#">선사/고대관</a></li>
                <li class="menu-item"><a href="#">중/근세관</a></li>
                <li class="menu-item"><a href="#">서화관</a></li>
                <li class="menu-item"><a href="#">기증관</a></li>
                <li class="menu-item"><a href="#">사유의 방</a></li>
                <li class="menu-item"><a href="#">조각/공예관</a></li>
                <li class="menu-item"><a href="#">세계문화관</a></li>
                <li class="menu-item"><a href="#">역사의 길</a></li>
                <li class="menu-item"><a href="#">야외 전시</a></li>
            </ul>
        </aside>
        <main class="main-content">
            <input type="text" id="search-input" placeholder="작품제목을 입력해주세요...">
            <div class="logo-grid" id="logo-grid">
                <!-- Example logo items -->
                <div class="logo-item" data-category="선사/고대관">
                    <img src="/images/relics/농경문 청동기.jpg" alt="농경문 청동기" class="image">
                    <p>농경문 청동기</p>
                </div>
                <div class="logo-item" data-category="선사/고대관">
                    <img src="/images/relics/호우총 청동그릇.jpg" alt="호우총 청동그릇" class="image">
                    <p>호우총 청동그릇</p>
                </div>
                <div class="logo-item" data-category="중/근세관">
                    <img src="/images/relics/씨름.jpg" alt="씨름" class="image">
                    <p>씨름</p>
                </div>
                <div class="logo-item" data-category="중/근세관">
                    <img src="/images/relics/달항아리.jpg" alt="백자 달항아리" class="image">
                    <p>백자 달항아리</p>
                </div>
                <div class="logo-item" data-category="중/근세관">
                    <img src="/images/relics/고종 어진.jpg" alt="고종 어진" class="image">
                    <p>고종 어진</p>
                </div>
                <div class="logo-item" data-category="중/근세관">
                    <img src="/images/relics/홍길동전.jpg" alt="홍길동전" class="image">
                    <p>홍길동전</p>
                </div>
                <div class="logo-item" data-category="중/근세관">
                    <img src="/images/relics/목민심서.jpg" alt="목민심서" class="image">
                    <p>목민심서</p>
                </div>
                <div class="logo-item" data-category="조각공예관">
                    <img src="/images/relics/상감 파도 용무늬 납작병.jpg" alt="분청사기 납작병" class="image">
                    <p>분청사기 납작병</p>
                </div>
                <div class="logo-item" data-category="조각공예관">
                    <img src="/images/relics/천흥사 땡땡 종.jpg" alt="천흥사 종" class="image">
                    <p>천흥사 종</p>
                </div>
                <div class="logo-item" data-category="서화관">
                    <img src="/images/relics/삼천사 대지국사 비 조각.jpg" alt="대지국사 비 조각" class="image">
                    <p>천흥사 종</p>
                </div>
                <div class="logo-item" data-category="서화관">
                    <img src="/images/relics/원주 흥법사지 진공대사탑 및 석관.jpg" alt="진공대사탑 및 석관" class="image">
                    <p>진공대사탑 및 석관</p>
                </div>
                <div class="logo-item" data-category="사유의 방">
                    <img src="/images/relics/사유의 금동 반가 사유상.jpg" alt="금동 반가 사유상" class="image">
                    <p>금동 반가 사유상</p>
                </div>
                <div class="logo-item" data-category="기증관">
                    <img src="/images/relics/고종비 명성황후 추상 존호 옥보.jpg" alt="명성황후 옥보" class="image">
                    <p>명성황후 옥보</p>
                </div>
                <div class="logo-item" data-category="세계문화관">
                    <img src="/images/relics/여러 색으로 엮은 도세구소쿠 갑옷.jpg" alt="여러 색으로 엮은 도세구소쿠 갑옷" class="image">
                    <p>여러 색으로 엮은 도세구소쿠 갑옷</p>
                </div>
                <div class="logo-item" data-category="세계문화관">
                    <img src="/images/relics/여인.jpg" alt="여인" class="image">
                    <p>여인</p>
                </div>
                <div class="logo-item" data-category="야외전시">
                    <img src="/images/relics/보신각 종.jpg" alt="보신각 종" class="image">
                    <p>보신각 종</p>
                </div>
                <div class="logo-item" data-category="원주 영전사 터 보제존자탑">
                    <img src="/images/relics/원주 영전사 터 보제존자탑.jpg" alt="원주 영전사 터 보제존자탑" class="image">
                    <p>원주 영전사 터 보제존자탑</p>
                </div>
                <div class="logo-item" data-category="역사의 길">
                    <img src="/images/relics/역사의 경천사십층석탑.jpg" alt="경천사십층석탑" class="image">
                    <p>경천사십층석탑</p>
                </div>
                <div class="logo-item" data-category="역사의 길">
                    <img src="/images/relics/역사의 석탑 기단부 면돌.jpg" alt="석탑 기단부 면돌" class="image">
                    <p>석탑 기단부 면돌</p>
                </div>
            </div>
        </main>
    </div>
</body>
</html>
